$body-font-family: "Novela", "Times", serif
$heading-font-family: "NovelaDisplay", serif
$sans: "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$small-font-size: 16px
$line-height-base: 1.6
$enable-header-sticky: true
$header-background-color: transparent
$breadcrumb-color: black
$body-overlay-color: rgba(255, 255, 255, 0.8)

$h2-size-md: 30px
$h3-size-md: 25px

$hero-height: 300px
$hero-height-md: 400px

$toc-active-color: #ffcc1a
