$color-accent: #005466

$body-font-family: "Novela", serif
$heading-font-family: "NovelaDisplay", serif

$header-sticky-enabled: true
$header-logo-height: 60px
$header-logo-height-md: 80px

$hero-background-color: transparent

$h1-weight: normal
$h2-size-md: px2rem(30)
$h3-weight: normal
$h3-size-md: px2rem(25)
