.lead
    color: $color-accent
.posts__page .toc-content
    display: none
.hero .content > h1,
.hero .content > hgroup
    padding-bottom: 1rem
@include media-breakpoint-up(md)
    .menu 
        .dropdown-menu
            margin-top: 3.2rem